<?xml version="1.0"?>
<launch>
    <arg name="namespace" default="grasp_planning" />
    <!-- camera topics -->
    <arg name="depth_image_topic" default="/camera/depth_registered/image_raw"/>
    <arg name="rgb_image_topic" default="/camera/rgb/image_raw"/>
    <arg name="camera_info_topic" default="/camera/depth_registered/camera_info"/>
    <!-- image detection service -->
    <arg name="detection_service_name" default="/mas_perception/detect_image"/>
    <arg name="class_annotations" default="$(find ssd_keras_ros)/models/coco_classes.yml" />
    <arg name="kwargs_file" default="$(find ssd_keras_ros)/models/ssd_keras_object_detector_kwargs.yml" />
    <arg name="detection_module" default="ssd_keras_ros" />
    <arg name="detection_class" default="SSDKerasObjectDetector" />
    <!-- pickup action -->
    <arg name="pickup_action_server" default="/pickup_server" />
    <arg name="target_frame" default="base_link" />
    <!-- grasp related -->
    <arg name="grasp_config_file" default="$(find grasp_planning)/config/grasp_constraints.yaml" />

    <node pkg="grasp_planning" type="image_detection_gqcnn_node" name="image_detection_gqcnn_node" output="screen"
          ns="$(arg namespace)">
        <param name="service_wait_time" type="int" value="15" />
        <!-- camera topics -->
        <param name="depth_image_topic" type="string" value="$(arg depth_image_topic)" />
        <param name="rgb_image_topic" type="string" value="$(arg rgb_image_topic)" />
        <param name="camera_info_topic" type="string" value="$(arg camera_info_topic)" />
        <!-- services -->
        <param name="detection_service_name" type="string" value="$(arg detection_service_name)" />
        <param name="gqcnn_service_name" type="string" value="/$(arg namespace)/plan_gqcnn_grasp" />
        <!-- pickup action server -->
        <param name="pickup_action_server" type="string" value="$(arg pickup_action_server)" />
        <param name="target_frame" type="string" value="$(arg target_frame)" />
        <!-- grasp config file -->
        <param name="grasp_config_file" type="string" value="$(arg grasp_config_file)" />
    </node>

    <include file="$(find mas_perception_libs)/ros/launch/image_detection.launch" >
        <arg name="service_name" value="$(arg detection_service_name)" />
        <arg name="class_annotations" value="$(arg class_annotations)" />
        <arg name="kwargs_file" value="$(arg kwargs_file)" />
        <arg name="detection_module" value="$(arg detection_module)" />
        <arg name="detection_class" value="$(arg detection_class)" />
    </include>

    <include file="$(find gqcnn)/launch/gqcnn.launch" >
        <arg name="ns" value="$(arg namespace)" />
        <!--<arg name="config" value="$(arg class_annotations)" />-->
    </include>
</launch>